.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: cadetblue;
}

.cell {
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}